@import '../node_modules/bootstrap/scss/bootstrap';

$grey-text: #222;
$white: #fff;
$light-pink: #FABED6;
$purple: #8A79C0;
$deep-purple: #322640;
$turq: #4E9AA5;
$font-stack: 'mada', sans-serif;
$font-size-small: 16px;
$font-size-med: 24px;
$font-size-big: 36px;

// Media Queries
$screen-sm-min: 768px;
$screen-xs-max: 860px;
$screen-md-min: 992px;
$screen-md-max: 1000px;
$screen-lg-min: 1204px;
$screen-md-max: 1920px;

body {
  background-color: $white;
  font-family: 100% $font-stack;
}

html{
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-big;
  }
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-med;
  }
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-med;
  }
  @media (min-width: $screen-md-min) {
    font-size: $font-size-med;
  }
  @media (max-width: $screen-md-max) {
    font-size: $font-size-small;
  }
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-small;
  }
}

